snippet so
	Signed-off-by: Christoffer Dall <christoffer.dall@arm.com>
snippet ack
	Acked-by: Christoffer Dall <christoffer.dall@arm.com>
snippet rev
	Reviewed-by: Christoffer Dall <christoffer.dall@arm.com>
snippet -C
	-Christoffer
snippet cherry
	(cherry picked from commit ${1})
