snippet so
	Signed-off-by: Christoffer Dall <christoffer.dall@linaro.org>
snippet ack
	Acked-by: Christoffer Dall <christoffer.dall@linaro.org>
snippet rev
	Reviewed-by: Christoffer Dall <christoffer.dall@linaro.org>
snippet soc
	Signed-off-by: Christoffer Dall <cdall@cs.columbia.edu>
snippet -C
	-Christoffer
snippet cherry
	(cherry picked from commit ${1})
